[submodule "extern/libscran"]
	path = extern/libscran
	url = https://github.com/LTLA/libscran
[submodule "extern/eigen"]
	path = extern/eigen
	url = https://gitlab.com/libeigen/eigen
[submodule "extern/irlba"]
	path = extern/irlba
	url = https://github.com/LTLA/CppIrlba
[submodule "extern/aarand"]
	path = extern/aarand
	url = https://github.com/LTLA/aarand
[submodule "extern/weightedlowess"]
	path = extern/weightedlowess
	url = https://github.com/LTLA/CppWeightedLowess
[submodule "extern/knncolle"]
	path = extern/knncolle
	url = https://github.com/LTLA/knncolle
[submodule "extern/Annoy"]
	path = extern/annoy
	url = https://github.com/spotify/Annoy
[submodule "extern/hnswlib"]
	path = extern/hnswlib
	url = https://github.com/nmslib/hnswlib
[submodule "extern/CppKmeans"]
	path = extern/kmeans
	url = https://github.com/LTLA/CppKmeans
[submodule "extern/qdtsne"]
	path = extern/qdtsne
	url = https://github.com/LTLA/qdtsne
[submodule "extern/umappp"]
	path = extern/umappp
	url = https://github.com/LTLA/umappp
